.main-container {
  background-color: #FDFEE7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 76vh;
  justify-content: center;
}


div.card:last-child {
  justify-content: flex-start;
}

.loading-container {
  background-color: #FDFEE7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
}

.empty-rover-container {
  display: flex;
  background-color: #FDFEE7;
  min-height: 94vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

@media (max-width: 500px) {
  .main-container {
    align-items: center;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }
}


