.card {
  margin: 25px;
  max-height: 472px;
}

.rover-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.camera-container {
  max-height: 75px;
  overflow: scroll;
}
